.album {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.album:hover {
  transform: translateY(-5px);
}

.album img {
  max-width: 100%;
  display: block;
}

.album h2 {
  color: var(--primary-color);
  font-weight: 600;
}

.album p {
  color: var(--secondary-color);
  font-weight: 400;
}